ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.navBar {
  background: #111111;
  /* box-shadow: 4px 2px 5px gray; */
  /* color: white; */
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  /* background: transparent; */
  border: 2px solid aqua;
  color: aqua;
  padding: 0.4rem 0.5rem;
}

/* .navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
} */

.brand {
  cursor: pointer;
  font-size: 2rem;
}

b {
  color: aquamarine;
}