/* *{
    -ms-overflow-style: none;
} */
.row::-webkit-scrollbar {
    display: none;
}
.movie-poster{
    max-width: 200px;
    max-height: 300px;
    padding: 5px;
}
.movie-list > .row { 
    overflow-x: auto;
    flex-wrap: nowrap;
}
.search-pannel > .row{
    flex-wrap: wrap;
    
}
.search-poster{
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 1rem;
}

.image-container {
    position: relative;
    transition: transform 0.2s;  
}

.modal-content{
    background-color: #1F2121;
}
.button-col{
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
    
}


.titles{
    color: #00D8C9;
}
.movie-title{
    display: flex;
    font-size: xx-large;
    justify-content: center;
    color: #00D8C9;
}
.movie-plot{
    font-size: medium;
}
.btn {
    background-color: #00D8C9;
}
